<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Jedna odpowiedź</th>
            <th style="width: 50%;text-align: center;">
                <span style="text-align: left; width: 33%;display: inline-block;">0%</span>
                <span style="width: 30%; display: inline-block;">50%</span>
                <span style="text-align: right; width: 33%; display: inline-block;">100%</span>
            </th>
            <th style="width: 15%">procentowo</th>
            <th style="width: 15%">ile głosów</th>
        </tr>
    </thead>
    <tbody>
        {% for index,answer in question.answers %}

            <tr>
                <td>{{ answer.content }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar {{ results.summary.results[answer.id].percent|result_colorClosed(results.summary.results) }}"
                             role="progressbar" style="width: {{ results.summary.results[answer.id].percent }}%"
                             aria-valuenow="{{ results.summary.results[answer.id].percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                <td>{{ results.summary.results[answer.id].percent~'%' }}</td>
                <td>{{ results.summary.results[answer.id].count }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>