{% extends 'base.html.twig' %}

{% block title %}Wyniki zbiorcze{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-9 mb-3">
            <div class="btn-group btn-group-sm">
                <a href="{{path('app_my_pollings')}}" class="btn btn-outline-primary">Moje ankiety</a>
                <a href="{{ path('app_polling_panel',{'id':polling.id}) }}" class="btn btn-outline-primary">Pytania</a>
                <a href="{{ path('app_polling_logic_list',{id:polling.id}) }}"
                   class="btn btn-outline-primary">Logika</a>
                <a href="{{ path('app_panel_analiza_surowa',{'id':polling.id}) }}"
                   class="btn btn-outline-primary active">Analiza</a>
                <a href="{{ path('app_polling_codes_list',{id:polling.id}) }}" class="btn btn-outline-primary">Kody</a>
            </div>
        </div>

        <div class="col-3 text-right">
            <div class="btn-group btn-group-sm">
                <a href="{{ path('app_panel_analiza_surowa',{'id':polling.id}) }}"
                   class="btn btn-outline-primary">Wyniki surowe</a>
                <a href="{{ path('app_panel_analiza_zbiorcza',{'id':polling.id}) }}"
                   class="btn btn-outline-primary active">Wyniki
                    zbiorcze</a>
            </div>
        </div>
    </div>


    {% include 'analiza/form.html.twig' with form %}


    <div class="row">
        <div class="col-12 mb-2">
            <div class="btn-group btn-group-sm">
                <a href="{{ path('app_pdf_generalmeetingresultspdf',{
                    'id':polling.id,
                    'date_from': form.vars.value.date_from|date('Y-m-d'),
                    'date_to': form.vars.value.date_to|date('Y-m-d'),
                    'all_data': form.vars.value.all_data,
                    'respondent': respondent.id ?? 0
                }) }}"
                   class="btn btn-outline-primary active">Pobierz PDF</a>
                {#<button class="btn btn-outline-primary pdf-btn">PDF</button>#}
                <a href="{{ path('app_polling_analysis_zbiorcza_excell',{
                    'id':polling.id,
                    'date_from': form.vars.value.date_from|date('Y-m-d'),
                    'date_to': form.vars.value.date_to|date('Y-m-d'),
                    'all_data': form.vars.value.all_data,
                    'respondent': respondent.id ?? 0
                }) }}"
                   class="btn btn-outline-primary active">Pobierz Excel</a>
            </div>
        </div>
        <div class="col-12" id="analiza-zbiorcza">
            {% if respondent is not null %}
                <a href="{{ path('app_panel_analiza_zbiorcza',{id: polling.id}) }}">Wróć do listy</a>
                <div class="row respondentInfoBox">
                    <div class="col-12">
                        <p class="mt-1 respondent-name mb-0"><i class="fa fa-user fa-2x"></i>
                            <span>Respondent {{ respondent.id }}</span></p>
                        <p class="mb-0">Wypełniono: {{ respondent.updatedAt|date('H:i d/m/Y') }} ({{ respondent.createdAt|answer_time(respondent.votes) }})</p>
                        <p class="mb-0">Użyty kod: {{ respondent.code.content }}</p>
                    </div>

                </div>
            {% else %}
                <h3>Wyniki zbiorcze</h3>
            {% endif %}

            {% set index = 0 %}
            {% for question in polling.questions %}
                {% if question.type.id !=4 %}
                    {% set index = index+1 %}
                    {% include 'analiza/question_box.html.twig' with {index, question, results: results[question.id], totalCount: results.totalCount} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
