{% extends 'base.html.twig' %}

{% block title %}Generuj kody{% endblock %}

{% block body %}

<h1>Generuj kody</h1>


{{ form_start(form, { attr: { id:'code-generator-form'}}) }}
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.prefix)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.prefix) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.count)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.count) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.randomLength)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.randomLength) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.randomContent)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.randomContent) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.excludeFromRandomContent)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.excludeFromRandomContent) }}
        </div>
    </div>
        {% include 'form/_switch_input.html.twig' with {'field':form.multi, 'extra_class':''} %}

    <div class="row form-group usesLimit d-none">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.usesLimit)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.usesLimit) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.polling)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.polling) }}
        </div>
    </div>
    
    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
{{ form_end(form,{render_rest:false}) }}
{% endblock %}
