{% extends 'base.html.twig' %}

{% block title %}Moje kody{% endblock %}

{% block body %}

<h1>Moje kody</h1>


<div class="btn-group btn-group-sm">
    <a href="{{path('app_codes_generate')}}" class="btn btn-primary">Generuj kody</a>
</div>
<table class="table table-stripped text-center">
<thead>
<tr>
<th>Kod</th>
<th>Ankieta</th>
<th>Ilość użyć</th>
<th>Data wygenerowania</th>
</tr>
</thead>
<tbody>
{% for code in codes|reverse %}
<tr>
<td class="text-left">{{code.content}}</td>
<td>{{code.polling.name}}</td>
<td>{{code.sessionUsers|length}}/{%if code.multi%}<span class="font-big">&#8734;</span>{%else%}1{%endif%}</td>
<td>{{code.createdAt|date('d/m/Y H:i')}}</td>
</tr>
{%else%}
<tr>
<td colspan="4">
<div class="alert alert-info">Brak kodów</div>
</td>
</tr>
{%endfor%}
</tbody>
</table>
{% endblock %}
