{% extends 'base.html.twig' %}

{% block title %}Dodaj ankiete{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 mb-3">
            <div class="btn-group btn-group-sm">
                <a href="{{ path('app_my_pollings') }}" class="btn btn-outline-primary">Moje ankiety</a>
                {% if new %}
                    <a href="{{ path('app_polling_new') }}) }}" class="btn btn-outline-primary active">Nowa ankieta</a>
                {% else %}
                    <a href="{{ path('app_polling_edit',{'id':polling.id}) }}" class="btn btn-outline-primary active">Ankieta: {{ polling.name }}</a>
                {% endif %}
            </div>
        </div>
    </div>


{{ form_start(form) }}
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.name)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.textContent)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.textContent) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.thankYouText)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.thankYouText) }}
        </div>
    </div>
    
    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
