{% extends 'base.html.twig' %}

{% block title %}Edytuj stronę{% endblock %}

{% block body %}


{{ form_start(form) }}
    <div class="row form-group">
        <div class="col-12 col-sm-3 col-form-label">
            {{form_label(form.introText)}}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.introText) }}
        </div>
    </div>
    
    {{ form_row(form._token) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
