{% extends 'base.html.twig' %}

{% block title %}Lista ankiet{% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') %}

<div class="btn-group btn-group-sm mb-5">
<a href="{{path('app_my_pollings')}}" class="btn btn-outline-primary active">Moje ankiety</a>
<a href="{{path('app_my_codes')}}" class="btn btn-outline-primary">Moje kody</a>
</div>
{% endif %}


<h1>Moje ankiety</h1>

<div class="row">
<div class="col-sm-3 text-center ">
<a class="btn btn-primary w-100 text-center align-items-center justify-content-center polling-box" href="{{path('app_polling_new')}}">Dodaj ankiete</a>
</div>

{%for polling in pollings%}
<div class="col-sm-3 text-center mb-4" data-open="{{path('app_polling_open',{'id':polling.id})}}">
    <div class="card polling-box">
    <i class="fa fa-circle {%if polling.open%}on{%endif%}" title="{%if polling.open%}Włączona{%else%}Wyłączona{%endif%}"></i>
    <p class="title">{{polling.name}}</p>
    <p>{{polling.questions|length}} pytań</td>

    <div class="btn-group btn-group-sm w-100">
    <a class="btn btn-secondary" href="{{path('app_polling_panel',{'id':polling.id})}}">Zobacz</a>
    <a class="btn btn-secondary" href="{{path('app_polling_edit',{'id':polling.id})}}">Edytuj</a>
    <a class="btn btn-secondary" href="{{path('app_polling_results_excell',{'id':polling.id})}}">Wyniki</a>
    </div>
</div>
</div>
{%endfor%}

</div>



{% endblock %}
