{% extends 'base.html.twig' %}

{% block title %}{{polling.name}}{% endblock %}

{% block body %}

{% if polling|polling_answers %}
<div class="row">
    <div class="col-12 text-center py-4 px-3 ">
    <i class="fas fa-exclamation-triangle"></i> Posiadasz już odpowiedzi, pamiętaj, że edytowanie pytań może wpłynąć na zebrane już wyniki.
    </div>
</div>
{%endif%}
<div class="pages-list">
    {%for page in polling.pages%}
    <div class="btn-group btn-group-sm">
        <a href="{{path('app_polling_panel',{'id':polling.id,'page':page.number})}}" class="btn btn-outline-primary {%if page.number ==current_page.number%}active{%endif%}">Strona {{page.number}}</a>
        <form method="post" action="{{ path('app_polling_delete_page', {'id':polling.id, 'page':page.number}) }}"
      onsubmit="return confirm('Na pewno chcesz usunąć tą stronę?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
    <button class="btn btn-sm btn-outline-primary rounded-left-0">&times</button>
</form>
    </div>
    {%endfor%}
     <a href="{{path('app_polling_add_page',{'id':polling.id})}}" class="btn btn-sm btn-outline-primary ml-3">+ Dodaj stronę</a>
</div>

{%if current_page.number==1 %}
<div class="row">
<div class="col-12 pt-2"><p class="mb-0 text-muted">Nagłówek</p></div>
    <div class="col-9">
        <h1>{{polling.name}}</h1>
        <h4>{{polling.textContent}}</h4>
    </div>
    <div class="col-3 text-right">
        <a href="{{path('app_polling_edit',{'id':polling.id})}}" class="btn btn-outline-primary btn-sm">Edytuj</a>
    </div>
</div>
{%endif%}

<a href="{{path('app_polling_add_question',{'id':polling.id,'page':current_page.number})}}" class="btn btn-sm btn-primary mt-3">Dodaj pytanie</a>

<div class="sortable" data-polling="{{polling.id}}">
{%for question in questions%}

{% include 'polling/question_view.html.twig' with {'question':question, 'disabled':true} %}
{%endfor%}
</div>



{% endblock %}
